

.blog .card-footer{
    font-size: 16px;
}
.blog .card-footer i{
    font-size: 18px;
}
.blog .card-footer .table tr td{
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
    font-size:14px;
    font-weight: 700;
    color:green
}
.blog .card{
    min-height: 380px;
    max-height: 380px;
}
.blog .card .card-text{
    margin: 0;
    padding: 0;
}
.blog .card-img-top{
    max-height: 220px;
    background-color:#fff;
}

.footers ul li a i{
    color:blue;
}

.index_eye .card-body ul li b{
    width:50%;
    text-align:right;
}